In [5]:
import pandas as pd

In [13]:
data_loans = pd.read_csv('03_Library Systembook.csv')
data_customers = pd.read_csv('03_Library SystemCustomers.csv')

print(data_loans.head())
print(data_customers.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye   "20/02/2023"    25/02/2023
1  2.0          Lord of the rings the two towers  "24/03/2023"    21/03/2023
2  3.0  Lord of the rings the return of the kind  "29/03/2023"    25/03/2023
3  4.0                                The hobbit  "02/04/2023"    25/03/2023
4  5.0                                     Dune   "02/04/2023"    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0
   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

Tasks:
- Check for NA values and deal with them.
- turn the dates into datetime. 
- data enrichment: try to calculate the number of days a book was on loan.

In [14]:
data_loans.head()

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0

In [8]:
data_loans['Book checkout']=pd.to_datetime(data_loans['Book checkout'],errors ='coerce')

C:\Users\Admin\AppData\Local\Temp\ipykernel_13352\2999039766.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_loans['Book checkout']=pd.to_datetime(data_loans['Book checkout'],errors ='coerce')

In [15]:
data_loans.replace(",  )

SyntaxError: unterminated string literal (detected at line 1) (1598870783.py, line 1)

In [11]:

data_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      21 non-null     float64
 1   Books                   20 non-null     object
 2   Book checkout           0 non-null      datetime64[ns]
 3   Book Returned           21 non-null     object
 4   Days allowed to borrow  21 non-null     object
 5   Customer ID             20 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 5.5+ KB

In [9]:
print(data_loans.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye            NaT    25/02/2023
1  2.0          Lord of the rings the two towers           NaT    21/03/2023
2  3.0  Lord of the rings the return of the kind           NaT    25/03/2023
3  4.0                                The hobbit           NaT    25/03/2023
4  5.0                                     Dune            NaT    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0