In [5]:
import pandas as pd

In [10]:
data_loans = pd.read_csv('03_Library Systembook.csv')
data_customers = pd.read_csv('03_Library SystemCustomers.csv')

print(data_loans.head())
print(data_customers.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye   "20/02/2023"    25/02/2023
1  2.0          Lord of the rings the two towers  "24/03/2023"    21/03/2023
2  3.0  Lord of the rings the return of the kind  "29/03/2023"    25/03/2023
3  4.0                                The hobbit  "02/04/2023"    25/03/2023
4  5.0                                     Dune   "02/04/2023"    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0
   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

Tasks:
- Check for NA values and deal with them.
- turn the dates into datetime. 
- data enrichment: try to calculate the number of days a book was on loan.

In [11]:
data_loans.head()

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0

In [12]:
data_loans['Book checkout']=pd.to_datetime(data_loans['Book checkout'],errors ='coerce')

C:\Users\Admin\AppData\Local\Temp\ipykernel_3520\2999039766.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_loans['Book checkout']=pd.to_datetime(data_loans['Book checkout'],errors ='coerce')

In [13]:
data_loans.replace(",  )

SyntaxError: unterminated string literal (detected at line 1) (2251090216.py, line 1)

In [11]:

data_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      21 non-null     float64
 1   Books                   20 non-null     object
 2   Book checkout           0 non-null      datetime64[ns]
 3   Book Returned           21 non-null     object
 4   Days allowed to borrow  21 non-null     object
 5   Customer ID             20 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 5.5+ KB

In [3]:
print(data_loans.head())

NameError: name 'data_loans' is not defined

In [45]:
data_loans['Book checkout'] = data_loans['Book checkout'].str.replace('"', '', regex=False)

AttributeError: Can only use .str accessor with string values!

In [ ]:
data_loans['Book checkout'] = pd.to_datetime(data_loans['Book checkout'], dayfirst=True, errors='coerce')

In [14]:
data_loans['Book Returned'] = pd.to_datetime(data_loans['Book Returned'], dayfirst=True, errors='coerce')

In [18]:
data_loans['Loan length'] = (df['Book Returned'] - df['Book checkout']).dt.days

NameError: name 'df' is not defined

In [30]:
data_loans calculate_days_difference(data_loans, 'Book checkout', 'Book Returned', 'Loan length')

SyntaxError: invalid syntax (3646874048.py, line 1)

In [ ]:
data_loans['Loan length'] = (data_loans['Book Returned'] - data_loans['Book checkout']).dt.days

In [19]:
initial_row_count = len(data_loans)
    data_loans_cleaned = data_loans.drop_duplicates()
    dropped_count = initial_row_count - len(data_loans_cleaned)
    return data_loans_cleaned, dropped_count

IndentationError: unexpected indent (2174290848.py, line 2)

In [42]:

print(f"Number of duplicates removed: {dropped_count}")

Cleaned DataFrame:
      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye     2023-02-20
1    2.0          Lord of the rings the two towers    2023-03-24
2    3.0  Lord of the rings the return of the kind    2023-03-29
3    4.0                                The hobbit    2023-04-02
4    5.0                                     Dune     2023-04-02
5    6.0                              Little Women    2023-04-02
6    7.0                                        IT    2063-04-10
7    8.0                                   Misery     2023-04-15
8    9.0                                  Catch 22    2023-04-15
9   10.0                              Animal Farm     2023-04-20
10  11.0                                      1984    2023-04-23
11  12.0                              Little Women    2023-04-02
12  13.0                              East of Eden    2023-04-30
13  14.0                   America Is in the Heart    2023-05-01
14  15.0                         Wuthering Heights    2023-05-01
15  16.0                                Dark Tales    2023-05-15
16  17.0                        The Bloody Chamber           NaT
17  18.0                            Les Miserables    2023-06-03
18  19.0                                   Dracula    2023-06-10
19  20.0                              Frankenstein    2023-06-01
20  21.0                                       NaN    2023-06-01
21   NaN                                       NaN           NaT

   Book Returned Days allowed to borrow  Customer ID  Loan length
0     2023-02-25                2 weeks          1.0          5.0
1     2023-03-21                2 weeks          2.0         -3.0
2     2023-03-25                2 weeks          3.0         -4.0
3     2023-03-25                2 weeks          4.0         -8.0
4     2023-03-25                2 weeks          5.0         -8.0
5     2023-05-01                2 weeks          1.0         29.0
6     2023-04-03                2 weeks          6.0     -14617.0
7     2023-04-03                2 weeks          7.0        -12.0
8     2023-04-16                2 weeks          7.0          1.0
9     2023-04-24                2 weeks          2.0          4.0
10    2023-04-27                2 weeks          8.0          4.0
11    2023-05-01                2 weeks          1.0         29.0
12    2023-05-05                2 weeks          2.0          5.0
13    2023-05-07                2 weeks          3.0          6.0
14    2023-05-10                2 weeks          9.0          9.0
15    2023-06-01                2 weeks          2.0         17.0
16    2023-06-04                2 weeks          3.0          NaN
17    2023-06-07                2 weeks          5.0          4.0
18    2023-07-10                2 weeks         10.0         30.0
19    2023-06-20                2 weeks          2.0         19.0
20    2023-06-05                2 weeks          NaN          4.0
21           NaT                    NaN          NaN          NaN
Number of duplicates removed: 92

In [20]:
def remove_duplicates(data_loans):
    initial_row_count = len(data_loans)
    data_loans_cleaned = data_loans.drop_duplicates()
    dropped_count = initial_row_count - len(data_loans_cleaned)
    return data_loans_cleaned, dropped_count

In [24]:

initial_row_count = len(data_loans)
data_loans_cleaned = data_loans.dropna()
dropped_row_count = initial_row_count - len(data_loans_cleaned)

print("Number of rows dropped:", dropped_row_count)

Number of rows dropped: 114

In [25]:
data_loans['Loan length'] = (data_loans['Book Returned'] - data_loans['Book checkout']).dt.days

In [26]:
print(data_loans.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye            NaT    2023-02-25
1  2.0          Lord of the rings the two towers           NaT    2023-03-21
2  3.0  Lord of the rings the return of the kind           NaT    2023-03-25
3  4.0                                The hobbit           NaT    2023-03-25
4  5.0                                     Dune            NaT    2023-03-25

  Days allowed to borrow  Customer ID  Loan length
0                2 weeks          1.0          NaN
1                2 weeks          2.0          NaN
2                2 weeks          3.0          NaN
3                2 weeks          4.0          NaN
4                2 weeks          5.0          NaN