In [99]:
import pandas as pd

# load data
data_loans = pd.read_csv('03_Library Systembook.csv')
data_customers = pd.read_csv('03_Library SystemCustomers.csv')

In [100]:
# drop duplicates
def remove_duplicates(data_loans):
    initial_row_count = len(data_loans)
    data_loans = data_loans.drop_duplicates()
    dropped_count = initial_row_count - len(data_loans)
    return data_loans_cleaned, dropped_count

In [101]:
# drop any row with a missing value (not the best practice)
initial_row_count = len(data_loans)
data_loans = data_loans.dropna()
dropped_row_count = initial_row_count - len(data_loans)
print("Number of rows dropped:", dropped_row_count)

Number of rows dropped: 94

In [102]:
# fix date column issue
data_loans['Book checkout'] = data_loans['Book checkout'].str.replace('"', '', regex=False)
data_loans['Book checkout'] = pd.to_datetime(data_loans['Book checkout'], dayfirst=True, errors='coerce')
data_loans['Book Returned'] = pd.to_datetime(data_loans['Book Returned'], dayfirst=True, errors='coerce')

In [103]:
# calculate the difference between checkout and return
data_loans['Loan length'] = (data_loans['Book Returned'] - data_loans['Book checkout']).dt.days

In [104]:
print(data_loans.head())

    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye     2023-02-20    2023-02-25
1  2.0          Lord of the rings the two towers    2023-03-24    2023-03-21
2  3.0  Lord of the rings the return of the kind    2023-03-29    2023-03-25
3  4.0                                The hobbit    2023-04-02    2023-03-25
4  5.0                                     Dune     2023-04-02    2023-03-25

  Days allowed to borrow  Customer ID  Loan length
0                2 weeks          1.0          5.0
1                2 weeks          2.0         -3.0
2                2 weeks          3.0         -4.0
3                2 weeks          4.0         -8.0
4                2 weeks          5.0         -8.0

In [105]:
# remove duplicates from data_customers
def remove_duplicates(data_customers):
    initial_row_count = len(data_customers)
    data_customers_cleaned = data_customers.drop_duplicates()
    dropped_count = initial_row_count - len(data_customers_cleaned)
    return data_customers_cleaned, dropped_count

In [106]:
# remove any missing row with a missing valur from data_customers
initial_row_count = len(data_customers)
data_customers_cleaned = data_customers.dropna()
dropped_row_count = initial_row_count - len(data_customers_cleaned)
print("Number of rows dropped:", dropped_row_count)

Number of rows dropped: 1

In [107]:
print(data_customers.head())

   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

In [108]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [109]:
from sqlalchemy import create_engine

server = 'MIS'  
database = 'DE5_Module'
username = 'Alina_Test'
password = 'Test'

# Connection String with Windows Auth
connection_string = f'mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

# Create an engine
engine = create_engine(connection_string)

# Writing a dataframe to SQL Server
data_loans.to_sql('loans', con=engine, if_exists='replace', index=False)

20